# =========================
# Secrets and environment
# =========================
.env

# =========================
# Node / Newman
# =========================
node_modules/

# =========================
# OS / system files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Python (por si añades API tests en el futuro)
# =========================
.venv/
__pycache__/
.pytest_cache/

# =========================
# IDEs
# =========================
.vscode/
.idea/